venv
.env
/home/EEGANALYSIS/discordBot/chembooks/Steven S. Zumdahl, Susan A. Zumdahl, Donald J. DeCoste - Chemistry (2017, Cengage Learning).pdf
/home/EEGANALYSIS/discordBot/chembooks/OrganicChemistry.pdf